
html{
scroll-behavior:smooth;
}

a{
text-decoration:none;
color:black;
}

a:hover{
color:red;
}

body{
background-color:rgb(245,245,245);
}

.photo2 img:hover {
transition: transform 0.5s ease;
transform: scale(1.1);
}

.top{
overflow:hidden;
height:75px;
width:100%;
}

.photo1{
float:left;
width:23%;
height:75px;
}

.ppp1{
float:right;
width:70px;
height:70px;
margin-right:20px;
}

.name{
float:left;
width:650px;
height:75px;
}

.smallherf{
margin-top:15px;
margin-left:20px;
float:left;
width:18%;
height:75px;
text-align:center;
line-height:35px;
}

.smallherf1{
margin-top:15px;
margin-left:20px;
float:left;
margin-left:14%;
width:6%;
height:75px;
text-align:center;
line-height:35px;
}

.smooth{
font-size:18px;
font-weight:bold;
}

.photo1.img{
margin-left:auto;
margin-right:auto;
width:75px;
height:75px;
}

.second{
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
height:750px;
width:100%;
background-image:url("pic/1.jpg");
}

#maodian1{
margin-top:150px;
}

#maodian2{
margin-top:-100px;
}

#headline{
margin-top:230px;
margin-left:320px;
letter-spacing:1px;
font-size:60px;
color:rgb(245,245,245);
}

#headline1{
margin-top:2px;
margin-left:320px;
line-height:43px;
letter-spacing:1px;
font-size:28px;
color:rgb(245,245,245);
}

.third{
margin-left:auto;
margin-right:auto;
height:98%;
width:98%;
overflow: hidden;
text-overflow: ellipsis;
}

.backcolor{
height:650px;
width:100%;
background-color:rgb(245,245,245);
}

.title1{
margin-left:auto;
margin-right:auto;
height:150px;
width:71%;
text-align:center;
border: 1px solid rgba(245,245,245,0);
}

.content1{
margin-left:auto;
margin-right:auto;
height:400px;
width:71%;

}

.jieshao{
margin-left:auto;
margin-right:auto;
float:left;
height:100%;
width:60%;

}

#gongsiming{
color:rgb(204, 0, 0);
text-indent: 1em;
}

#gongsijieshao{
font-size:19px;
line-height:37px;
text-indent: 2em;
}

#gongsijieshao2{
font-size:19px;
line-height:37px;
text-indent: 2em;
}

#gongsijieshao3{
font-size:19px;
line-height:28px;
text-indent: 2em;
}

#gongsijieshao4{
font-size:19px;
line-height:28px;
text-indent: 2em;
}

.photo2{
float:right;
height:100%;
width:34%;
overflow:hidden;
}

.fourth{
background-image:url("pic/4.jpg");
height:650px;
width:100%;
}

.title2{
margin-left:auto;
margin-right:auto;
height:170px;
width:70%;
text-align:center;
border: 1px solid;
border-color:rgba(0,0,0,0);
}

#big{
font-size:35px;
}

#big1{
font-size:35px;
}

#big4{
font-size:35px;
line-height:75px;
}

#big5{
font-size:35px;
line-height:75px;
}

#dark{
font-size:35px;
color:rgb(255,255,255);
}

#dark4{
font-size:35px;
color:rgb(255,255,255);
line-height:83px;
}

#dark1{
color:rgb(255,255,255);
}

.content2{
margin-left:auto;
margin-right:auto;
height:500px;
width:70%;
display: flex;
justify-content: space-around;

}

.zuo{
margin-bottom:50px;
margin-left:2%;
margin-right:2%;
height:350px;
width:19%;
background-color:white;
}

.shangban{
width:100%;
height:200px;
}

.xiaban{
width:100%;
height:150px;
text-align:center;
}

.xiaban>.tt{
font-size:26px;
font-weight:500;
}

.xiaban>.tt4{
font-size:26px;
font-weight:500;
margin-top:45px;
}

.xiaban>.tt1{
font-size:19px;
font-weight:500;
}

.shangban>.ppp{
width:100%;
height:200px;
}

.fifth{
height:550px;
width:100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.ppp3{
height:100%;
width:100%;
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.title3{
margin-left:auto;
margin-right:auto;
height:150px;
width:70%;
text-align:center;
border: 1px solid;
border-color:rgba(0,0,0,0);
}

.content3{
margin-left:auto;
margin-right:auto;
height:400px;
width:65%;

}

.photo3{
float:left;
height:100%;
width:34%;
margin-left:30px;
}

.jieshao2{
float:right;
height:100%;
width:55%;
font-size:26px;
}

.bottom{
overflow:hidden;
margin-top:60px;
background-color:black;
height:30px;
width:100%;
}

.bottom>.name{
floatï¼šright;
width:850px;
height:150px;
line-height:18px;
padding-top:20px;
color:white;
border: 1px solid black;
}

.last{
background-color:black;
height:51px;
width:100%;
}

.lastm{
margin-left:auto;
margin-right:auto;
background-color:black;
height:50px;
width:50%;
border-top: 1px solid white;
}

.renzhen{
color:white;
text-align:center;
font-size:12px;
}